node_modules
dist
.env
.env.local
.DS_Store
*.log
.turbo
.agents
.claude
.github
.vscode
.eas
.husky
.prettierignore
.eslintignore
.editorconfig
Dockerfile
docker-compose.yml
README.md
.yarn/install-state.gz
package-lock.json
pnpm-lock.yaml
