<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228779477149-htkbnhk730s7sssrj68stuntmiglhsu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228779477149-htkbnhk730s7sssrj68stuntmiglhsu7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228779477149-kvgi01k770253e9tqdb2sgnb6rljd5ol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtYyeGF4fqJbnkMngZxaTeUKfBeKbs0Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>228779477149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bitsofts.gontobbo</string>
	<key>PROJECT_ID</key>
	<string>gontobbo-bbdd8</string>
	<key>STORAGE_BUCKET</key>
	<string>gontobbo-bbdd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228779477149:ios:5ccd0a67c86378398dec74</string>
</dict>
</plist>